<div class="card my-5">
      <div class="card-body">
            <form (ngSubmit)="onSubmit()" #userForm="ngForm">
                  <div class="form-group">
                        <label for="username" value="set color" ng-click="myStyle={color:'red'}">Enter Username:</label>
                        <input type="text" value="set color" ng-click="myStyle={color:'red'}"[(ngModel)]="user.username" class="form-control" id="username"
                    name="username" placeholder="Enter your username"           required #username="ngModel">
                      
                      <div [hidden]="!username.pristine" class="alert alert-danger">Username is required</div>




                      <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-info">Submit</button>
            </div>     
        </form>
          </div>
</div>
<form>

    <div *ngIf="!status">
        <label><b>Your remaining balance is {{balance}}</b> </label>
    </div>
</form>