<form class="text-center border border-light p-5">

    <p class="h4 mb-4">Fund Transfer</p>



    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
        <div class="form-group">
                    <label for="username" value="set color" ng-click="myStyle={color:'red'}">Enter Username:</label>
                    <input type="text" [(ngModel)]="user1.username"           class="form-control" id="username"
                name="username" placeholder="Enter your username"           required #username="ngModel">
                  
                  <div [hidden]="!username.pristine" class="alert alert-danger">Username is required</div>
        </div>
       
        <label for="amount" value="set color" ng-click="myStyle={color:'red'}"> Enter amount to deposit</label>
        <input type="text" [(ngModel)]="amount" name="amount" class="form-control" placeholder="amount">
         <div class="form-group">
                    <label for="username" value="set color" ng-click="myStyle={color:'red'}">Enter Username:</label>
                    <input type="text" [(ngModel)]="user2.username"           class="form-control" id="username"
                name="username" placeholder="Enter your username"           required #username="ngModel">
                  
                  <div [hidden]="!username.pristine" class="alert alert-danger">Username is required</div>
             </div>
        <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-info">Submit</button>

    </form>
    <form>
        <div *ngIf="status">
             <label><b>Your remaining balance is {{balance}}</b> </label>
        </div>

    </form>